* {
	font-family: Arial, Helvetica, sans-serif;	
}

/* Bordered form */
form.log {
    border: 3px solid #f1f1f1;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

/* Full-width inputs */
form.log input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

form.log input[type="checkbox"] {
	width: 45px !important;
	height: 45px !important;
}

/* Full-width textareas */
form.log textarea {
	width: 100%;
	height: 100px;
	padding: 12px 20px;
	margin: 9px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;	
}

/* Full-width selects */
form.log select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;	
}

/* Set a style for all buttons */
form.log button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra style for the cancel button (red) */
form.log .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
form.log .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
form.log img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
form.log .container {
    padding: 16px;
}

/* The "Forgot password" text */
form.log span.psw {
    padding-top: 16px;
}

.subtext {
	font-size: 9px;	
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    form.log span.psw {
        display: block;
        float: none;
    }
    form.log .cancelbtn {
        width: 100%;
    }
}